<ion-view title="Peladeiros">
	<ion-nav-buttons side="right">
    	<button class="button button-icon icon ion-android-remove" ng-click="exibeBotaoExcluir()"></button>
  	</ion-nav-buttons>

	<ion-content>
		<ion-refresher spinner="android" on-refresh="atualizarItens()"></ion-refresher>
		<div id="search-box" class="bar bar-header item-input-inset">
	        <div class="item-input-wrapper">
          		<i class="icon ion-search placeholder-icon"></i>
	          	<input type="search" placeholder="Buscar" ng-model="queryBuscar" auto-focus>
	          	<i class="clear-search icon ion-android-close" ng-click="limparBuscar()"></i>
	        </div>
      	</div>
	 	<ion-list show-delete="showDelete">
	        <ion-item ng-repeat="item in itens | orderBy: 'nome'| filter: queryBuscar" item="item" href="#/app/peladeiro/editar/{{item.objectId}}">
	            {{item.nome}} {{item.sobrenome}}
	            <ion-delete-button class="ion-android-close" ng-click="excluirItem(item)"></ion-delete-button>
	        </ion-item>
	    </ion-list>
	</ion-content>
	<nav mfb-menu position="br" ui-sref="app.peladeiroIncluir" href="#/app/peladeiro/incluir" resting-icon="ion-plus-round" active-icon="ion-plus-round">
  	</nav>
</ion-view>