<ion-view title="Peladeiros">
<!-- 	<ion-header-bar class="bar-positive">

	    <div class="buttons">
	        <button class="button button-icon icon ion-minus-round" ng-click="data.showDelete = !data.showDelete;"></button>
	        <h1 class="title">Todos os itens</h1>
	        <button class="button" ui-sref="createTodo">Novo</button>
	    </div>

	</ion-header-bar> -->

	<ion-content>

		<ion-refresher spinner="android" on-refresh="atualizarItens()"></ion-refresher>

		<div id="search-box" class="bar bar-header item-input-inset">
	        <div class="item-input-wrapper">
          		<i class="icon ion-search placeholder-icon"></i>
	          	<input type="search" placeholder="Buscar" ng-model="queryBuscar" auto-focus>
	          	<i class="clear-search icon ion-android-close" ng-click="limparBuscar()"></i>
	        </div>
      	</div>

	 	<ion-list show-delete="data.showDelete">
	        <ion-item ng-repeat="item in itens | orderBy: 'nome'| filter: queryBuscar" item="item" href="#/app/peladeiro/editar/{{item.objectId}}">
	            {{item.nome}} {{item.sobrenome}}
	            <ion-delete-button class="ion-android-close icon-right" ng-click="onItemDelete(item)"></ion-delete-button>
	        </ion-item>
	    </ion-list>	   
    
	</ion-content>

</ion-view>